:root
{
    --primary: #1abc9c;
    --primary-dark: #16a085;
    --secondary: #ebeef0;
    --secondary-dark: #d6dbe0;
    --special: #000;
    --font: #2c3e50;
}
body
{
    margin: 0;
    padding: 0;
    color: var(--font);
    background-color: var(--secondary-dark);
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 0.92em;
}
.page-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}
h1,h2,h3
{
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 1.05em;
}
h2
{
    font-size: 1em;
}
h3
{
    font-size: 0.95em;
}
.article-p
{
    margin-top: 5px;
}
/* .page-container > *, .page-content-body > *
{
    border: 2px solid red;
} */
.page-logo
{
    background-color: var(--secondary);
    padding: 10px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.logo-color
{
    color: var(--primary)
}
.logo
{
    display: flex;
    align-items: center;
}
.logo-image
{
    width: 32px;
    height: 32px;
    background-image: url("../../../images/logo.png?1a709a45f2b4c616d015aff2b8a91ee8");
    background-size: contain;
}
.logo-image-wrapper
{
    padding: 5px;
    background-color: var(--primary-dark);
    border-radius: 100%;
    margin-right: 10px;
}
.page-content-body
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.page-nav
{
    background-color: var(--secondary);
}
.nav-elements
{
    transition: 0.3s cubic-bezier(.77,0,.18,1) all;
    max-height: 5000px;
}
.nav-element
{
    color: var(--font);
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1.05em;
    transition: 0.3s cubic-bezier(.77,0,.18,1) all;
}
.nav-element:hover
{
    background-color: var(--primary-dark);
    cursor:pointer;
    padding: 15px;
}
.articles
{
    
}
.dropdown-items
{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    background-color: var(--primary);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown-items .nav-element
{
    margin-left: 20px;
}
.dropdown-trigger:checked
{
    background-color: var(--primary-dark);
}
.dropdown-trigger:checked + .dropdown-items
{
    max-height: 5000px;
    opacity: initial;
    overflow: visible;
}
.page-content
{
    background-color: var(--secondary-dark);
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.news-preview
{
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #bfc6cc;
    margin-bottom: 20px;
}
.news-header
{
    font-size: 1.2em;
    padding: 10px;
    background-color: var(--primary-dark);
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.news-content
{
    display: flex;
    flex-direction: column;
}
.news-image
{
    overflow: hidden;
}
.news-image img
{
    width: 100%;
    object-fit: cover;
}
.news-short-text
{
    padding: 10px;
    word-wrap: break-word;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}
.news-more
{
    text-align: right;
    margin-right: 10px;
}
.news-footer
{
    padding: 10px;
}
.news-actions
{
    display: flex;
    gap: 10px;
}
.ad-banner
{
    width: 200px;
    min-width: 200px;
    padding: 5px;
    margin: 0 auto;
}
.ad-banner img
{
    width: 100%;
    object-fit: cover;
}
.page-footer
{
    background-color: var(--primary-dark);
    padding: 15px;
    font-size: 1em;
    text-align: center;
}
.is-hidden
{
    opacity: 0;
    max-height:0 !important;
    overflow: hidden;
}
.is-excluded
{
    display: none;
}
.button
{
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: 0.25s ease-in-out all;
    padding: 5px 10px;
    font-size: 0.95em;
    background-color: var(--primary);
}
.button:hover
{
    background-color: var(--primary-dark);
    cursor:pointer;
}
table
{
    border-collapse: collapse;
    width: 100%;
}
th
{
    background-color: var(--primary);
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
tbody tr:nth-child(odd)
{
    background-color: var(--secondary-dark);
}
thead
{
    display:none;
}
table, tbody, tr, td
{
    display:block;
}
td
{
    padding: 10px;
    margin: 10px;
    text-align: right;
    position: relative;
}
td::before
{
    content: attr(data-label);
    position: absolute;
    left: 0;
}